In [1]:
import pandas as pd 
from textblob import TextBlob
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import nltk 
import string
plt.style.use('fivethirtyeight')

In [2]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [3]:
df1 = pd.read_csv("/Users/garg/Desktop/thesis/data/2018/jul_to_dec_2018.csv",index_col=0)
#df2 = pd.read_csv("/Users/garg/Desktop/thesis/data/2008/jul_to_nov_2019.csv",index_col=0)
#df1['TR_DATE'] = df1['TR_DATE'].astype('datetime64[D]')
#df2['TR_DATE'] = df2['TR_DATE'].astype('datetime64[D]')
#df1 = pd.read_csv("/Users/garg/Desktop/thesis/data/2018/dec_2019.csv",index_col = 0)
df1.dtypes

RFDE_CUST_REG_NUM      object
RFDE_RPT_DT            object
RFDE_TXN_ID            object
FII                    object
SUB_ACC                object
BRKER                  object
SCRIP_NAME             object
ISIN                   object
TR_DATE                object
TR_TYPE(*)              int64
RFDE_SE_REG_NUM         int64
RFDE_STLD_CODE         object
RATE                  float64
QUANTITY              float64
VALUE (in Rs)         float64
RFDE_INSTR_TYPE        object
RFDE_REASON_DLAY       object
RFDE_RPT_TYPE          object
RFDE_AMDMNT_REASON     object
foreign-exchange      float64
Year-Month             object
Inflation-Rate        float64
FDI-Inward            float64
Year                    int64
FDI-Growth-Rate       float64
GDP-Growth-Rate       float64
IIP                   float64
unemployment-rate     float64
BSE_Close             float64
twitter-sentiment     float64
dtype: object

In [4]:
Bombay_Stock_Exchange = pd.read_csv("/Users/garg/Desktop/twint-master/2018/Bombay-Stock-Exchange.csv",usecols=['date','tweet'])
Investment_In_India = pd.read_csv("/Users/garg/Desktop/twint-master/2018/Investment-in-India.csv",usecols=['date','tweet'])
Nifty_50 = pd.read_csv("/Users/garg/Desktop/twint-master/2018/NIFTY-50.csv",usecols=['date','tweet'])
sensex = pd.read_csv("/Users/garg/Desktop/twint-master/2018/sensex.csv",usecols=['date','tweet'])

In [5]:
df = pd.concat([Bombay_Stock_Exchange,Investment_In_India,Nifty_50,sensex], ignore_index=True, sort =True)

In [6]:
#df = pd.read_csv("/Users/garg/Desktop/complete-variables-2018.csv",index_col=0)
#del df['Sentiment']
#df

In [7]:
df

             date                                              tweet
0      2018-01-01  coins and more: 341) BSE (formerly “Bombay Sto...
1      2018-01-02  Amid the struggles of India's economy, one bri...
2      2018-01-02  BSE to auction investment limits for Rs 13,700...
3      2018-01-02  Amid the struggles of India's economy, one bri...
4      2018-01-03  coins and more: 341) BSE (formerly “Bombay Sto...
...           ...                                                ...
71559  2018-12-31  #Sensex jumps 150 pts, #Nifty50 reclaims 10,90...
71560  2018-12-31  #Sensex up over 200 points, Nifty tops 10,900,...
71561  2018-12-31  #Sensex jumps 150 pts, #Nifty50 reclaims 10,90...
71562  2018-12-31  Markets LIVE: #Sensex, #Nifty off day’s highs;...
71563  2018-12-31  L&T Construction wins’ orders worth Rs2,084cr\...

[71564 rows x 2 columns]

In [8]:
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    return text

df['Tweet_punct'] = df['tweet'].apply(lambda x: remove_punct(x))
df.head()

,date,tweet,Tweet_punct
0,2018-01-01,coins and more: 341) BSE (formerly “Bombay Sto...,coins and more BSE formerly “Bombay Stock Exc...
1,2018-01-02,"Amid the struggles of India's economy, one bri...",Amid the struggles of Indias economy one brigh...
2,2018-01-02,"BSE to auction investment limits for Rs 13,700...",BSE to auction investment limits for Rs cr cor...
3,2018-01-02,"Amid the struggles of India's economy, one bri...",Amid the struggles of Indias economy one brigh...
4,2018-01-03,coins and more: 341) BSE (formerly “Bombay Sto...,coins and more BSE formerly “Bombay Stock Exc...

In [9]:
def cleanTxt(text):
    text = re.sub('@[A-Za-z0–9]+', '', text) #Removing @mentions
    text = re.sub('#', '', text) # Removing '#' hash tag
    text = re.sub('RT[\s]+', '', text) # Removing RT
    text = re.sub('https?:\/\/\S+', '', text) # Removing hyperlink
    
    return text

In [10]:
df['Tweet_punct_cleaned'] = df['Tweet_punct'].apply(cleanTxt)

In [11]:
# Create a function to get the polarity
def getPolarity(text):
    return  TextBlob(text).sentiment.polarity


# Create two new columns 'Subjectivity' & 'Polarity'
df['sentiment'] = df['Tweet_punct_cleaned'].apply(getPolarity)

# Show the new dataframe with columns 'Subjectivity' & 'Polarity'
df

,date,tweet,Tweet_punct,Tweet_punct_cleaned,sentiment
0,2018-01-01,coins and more: 341) BSE (formerly “Bombay Sto...,coins and more BSE formerly “Bombay Stock Exc...,coins and more BSE formerly “Bombay Stock Exc...,0.250000
1,2018-01-02,"Amid the struggles of India's economy, one bri...",Amid the struggles of Indias economy one brigh...,Amid the struggles of Indias economy one brigh...,0.383333
2,2018-01-02,"BSE to auction investment limits for Rs 13,700...",BSE to auction investment limits for Rs cr cor...,BSE to auction investment limits for Rs cr cor...,0.043750
3,2018-01-02,"Amid the struggles of India's economy, one bri...",Amid the struggles of Indias economy one brigh...,Amid the struggles of Indias economy one brigh...,0.383333
4,2018-01-03,coins and more: 341) BSE (formerly “Bombay Sto...,coins and more BSE formerly “Bombay Stock Exc...,coins and more BSE formerly “Bombay Stock Exc...,0.250000
...,...,...,...,...,...
71559,2018-12-31,"#Sensex jumps 150 pts, #Nifty50 reclaims 10,90...",Sensex jumps pts Nifty reclaims Tata Motors ...,Sensex jumps pts Nifty reclaims Tata Motors ...,0.400000
71560,2018-12-31,"#Sensex up over 200 points, Nifty tops 10,900,...",Sensex up over points Nifty tops For Free Tr...,Sensex up over points Nifty tops For Free Tr...,0.400000
71561,2018-12-31,"#Sensex jumps 150 pts, #Nifty50 reclaims 10,90...",Sensex jumps pts Nifty reclaims Tata Motors ...,Sensex jumps pts Nifty reclaims Tata Motors ...,0.400000
71562,2018-12-31,"Markets LIVE: #Sensex, #Nifty off day’s highs;...",Markets LIVE Sensex Nifty off day’s highs Meta...,Markets LIVE Sensex Nifty off day’s highs Meta...,0.136364
71563,2018-12-31,"L&T Construction wins’ orders worth Rs2,084cr\...",LT Construction wins’ orders worth Rscr\n http...,LT Construction wins’ orders worth Rscr\n http...,0.300000

In [12]:
df['date'] = df['date'].astype('datetime64[D]')

In [13]:
df = df.sort_values(by=['date'])

In [14]:
df

,date,tweet,Tweet_punct,Tweet_punct_cleaned,sentiment
0,2018-01-01,coins and more: 341) BSE (formerly “Bombay Sto...,coins and more BSE formerly “Bombay Stock Exc...,coins and more BSE formerly “Bombay Stock Exc...,0.25
42111,2018-01-01,*Good Morning*\n*News clipping*\n\n🔹 India’s S...,Good Morning\nNews clipping\n\n🔹 India’s SGX N...,Good Morning\nNews clipping\n\n🔹 India’s SGX N...,0.70
71149,2018-01-01,"According to estimates collated by #Bloomberg,...",According to estimates collated by Bloomberg a...,According to estimates collated by Bloomberg a...,0.50
71150,2018-01-01,Ruggero Respigo : Market Wrap: Sensex closes 2...,Ruggero Respigo Market Wrap Sensex closes po...,Ruggero Respigo Market Wrap Sensex closes po...,0.00
71151,2018-01-01,My thought around a month back. #StockMarkets ...,My thought around a month back StockMarkets In...,My thought around a month back StockMarkets In...,0.00
...,...,...,...,...,...
59821,2018-12-31,Sensex Up 94 Points In Early Trade; Nifty At 1...,Sensex Up Points In Early Trade Nifty At h...,Sensex Up Points In Early Trade Nifty At h...,0.10
59820,2018-12-31,Stock Market Update - #Sensex Trades Rangeboun...,Stock Market Update Sensex Trades Rangebound ...,Stock Market Update Sensex Trades Rangebound ...,0.00
59819,2018-12-31,👇Market wakes up.\n#sensex https://twitter.co...,👇Market wakes up\nsensex httpstwittercomblahb...,👇Market wakes up\nsensex httpstwittercomblahb...,0.00
59831,2018-12-31,Experts believe the overall movement for the b...,Experts believe the overall movement for the b...,Experts believe the overall movement for the b...,0.00
71563,2018-12-31,"L&T Construction wins’ orders worth Rs2,084cr\...",LT Construction wins’ orders worth Rscr\n http...,LT Construction wins’ orders worth Rscr\n http...,0.30

In [15]:
df_1 = df.groupby(['date']).mean()
df_1 = df_1.reset_index()

In [16]:
df_1

          date  sentiment
0   2018-01-01   0.169959
1   2018-01-02   0.042906
2   2018-01-03   0.018096
3   2018-01-04   0.144360
4   2018-01-05   0.101331
..         ...        ...
360 2018-12-27   0.108027
361 2018-12-28   0.114076
362 2018-12-29   0.149735
363 2018-12-30   0.093568
364 2018-12-31   0.085621

[365 rows x 2 columns]

In [17]:
#df1 = pd.read_csv("/Users/garg/Desktop/complete-variables-2018.csv",index_col=0)
#df1 = df1.reset_index()
#df1

In [18]:
df1['twitter-sentiment'] = ""
df1['TR_DATE'] = df1['TR_DATE'].astype('datetime64[D]')
df1.dtypes

RFDE_CUST_REG_NUM             object
RFDE_RPT_DT                   object
RFDE_TXN_ID                   object
FII                           object
SUB_ACC                       object
BRKER                         object
SCRIP_NAME                    object
ISIN                          object
TR_DATE               datetime64[ns]
TR_TYPE(*)                     int64
RFDE_SE_REG_NUM                int64
RFDE_STLD_CODE                object
RATE                         float64
QUANTITY                     float64
VALUE (in Rs)                float64
RFDE_INSTR_TYPE               object
RFDE_REASON_DLAY              object
RFDE_RPT_TYPE                 object
RFDE_AMDMNT_REASON            object
foreign-exchange             float64
Year-Month                    object
Inflation-Rate               float64
FDI-Inward                   float64
Year                           int64
FDI-Growth-Rate              float64
GDP-Growth-Rate              float64
IIP                          float64
unemployment-rate            float64
BSE_Close                    float64
twitter-sentiment             object
dtype: object

In [19]:
df1['twitter-sentiment'] = df1['TR_DATE'].map(df_1.set_index('date')['sentiment'])
#df1['twitter-sentiment'] = df1['twitter-sentiment'].fillna(-3)
#df2['twitter-sentiment'] = df2['TR_DATE'].map(df_1.set_index('date')['sentiment'])
#df2['twitter-sentiment'] = df2['twitter-sentiment'].fillna(-3)

In [20]:
df1

,RFDE_CUST_REG_NUM,RFDE_RPT_DT,RFDE_TXN_ID,FII,SUB_ACC,BRKER,SCRIP_NAME,ISIN,TR_DATE,TR_TYPE(*),...,Year-Month,Inflation-Rate,FDI-Inward,Year,FDI-Growth-Rate,GDP-Growth-Rate,IIP,unemployment-rate,BSE_Close,twitter-sentiment
0,4,2018-07-03,11279431,F577059403378,S921308190267,B1005050980269,ITC LTD,INE154A01025,2018-07-02,1,...,2018-07,5.614035,42117.45071,2018,0.01,6.811369,114.5467,5.33,35264.41,0.020106
1,4,2018-07-03,11279497,F577059403378,S921308190267,B1005050980269,REL NIPPON LIFE ASSET MGMT LTD (X REL CA,INE298J01013,2018-07-02,4,...,2018-07,5.614035,42117.45071,2018,0.01,6.811369,114.5467,5.33,35264.41,0.020106
2,4,2018-07-03,11277905,F485992171102,S520281411971,B986604236764,RAMAKRISHNA FORGINGS LTD,INE399G01015,2018-07-02,1,...,2018-07,5.614035,42117.45071,2018,0.01,6.811369,114.5467,5.33,35264.41,0.020106
3,4,2018-07-03,11278377,F785263456915,S831787229138,B437325321325,BATA INDIA INR 5,INE176A01028,2018-07-02,1,...,2018-07,5.614035,42117.45071,2018,0.01,6.811369,114.5467,5.33,35264.41,0.020106
4,4,2018-07-03,11279422,F415840290653,S1199718379380,B1005050980269,HEXAWARE TECHNOLOGIES LTD. (INR 2),INE093A01033,2018-07-02,4,...,2018-07,5.614035,42117.45071,2018,0.01,6.811369,114.5467,5.33,35264.41,0.020106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680334,9,2019-01-01,190000210,F1185074494837,S676514052929,B1006358103345,HINDUSTAN UNILEVER LTD DM1,INE030A01027,2018-12-31,1,...,2018-12,5.244755,42117.45071,2018,0.01,6.811369,114.5467,5.33,36068.33,0.085621
680335,9,2019-01-01,190000460,F721328788622,S1015717112918,B1006358103345,LIC HSG FINANCE LTD DM2,INE115A01026,2018-12-31,1,...,2018-12,5.244755,42117.45071,2018,0.01,6.811369,114.5467,5.33,36068.33,0.085621
680336,9,2019-01-01,190000415,F932733894707,S1032373437201,B1182334610875,L AND T FINANCE HOLD LTD DM,INE498L01015,2018-12-31,1,...,2018-12,5.244755,42117.45071,2018,0.01,6.811369,114.5467,5.33,36068.33,0.085621
680337,9,2019-01-01,190000315,F664767817726,S814376333069,B1088934408096,CONTAINER CORPORATION DM5,INE111A01025,2018-12-31,1,...,2018-12,5.244755,42117.45071,2018,0.01,6.811369,114.5467,5.33,36068.33,0.085621
680338,14,2019-01-01,9818817,F460768536607,S752715380145,B490907260187,RELIANCE INDUSTRIES LTD EQ FV10,INE002A01018,2018-12-31,4,...,2018-12,5.244755,42117.45071,2018,0.01,6.811369,114.5467,5.33,36068.33,0.085621

In [21]:
df1.isnull().sum()

RFDE_CUST_REG_NUM       0
RFDE_RPT_DT             0
RFDE_TXN_ID             0
FII                     0
SUB_ACC                 0
BRKER                   0
SCRIP_NAME              0
ISIN                    0
TR_DATE                 0
TR_TYPE(*)              0
RFDE_SE_REG_NUM         0
RFDE_STLD_CODE          0
RATE                    0
QUANTITY                0
VALUE (in Rs)           0
RFDE_INSTR_TYPE         0
RFDE_REASON_DLAY        0
RFDE_RPT_TYPE           0
RFDE_AMDMNT_REASON      0
foreign-exchange        0
Year-Month              0
Inflation-Rate          0
FDI-Inward              0
Year                    0
FDI-Growth-Rate         0
GDP-Growth-Rate         0
IIP                     0
unemployment-rate       0
BSE_Close             541
twitter-sentiment       0
dtype: int64

In [ ]:
#df2.isnull().sum()

In [22]:

df1.to_csv("/Users/garg/Desktop/thesis/data/2018/jul_to_dec_2018.csv")
#df2.to_csv("/Users/garg/Desktop/thesis/data/2019/jul_to_nov_2019.csv")